body {
  background-color: #202428;
  color: #ffffff;
  margin: 0;
}
body[data-input-display="false"] .input {
  display: none;
}
body[data-input-display="true"] .output {
  margin-left: 50vw;
}
body[data-overlay-display="false"] .output em {
  color: rgb(255, 128, 128);
}
body[data-overlay-display="false"] .overlay-toggle::before {
  content: "Show overlay";
}
body[data-overlay-display="true"] .overlay-toggle::before {
  content: "Hide overlay";
}
body[data-input-display="false"] .input-toggle::before {
  content: "Show input";
}
body[data-input-display="true"] .input-toggle::before {
  content: "Hide input";
}

.header {
  background-color: #202428;
  border-bottom: 1px solid #303438;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4.5rem;
  max-height: 4.5rem;
  user-select: none;
}

.header > h1 {
  font-size: 1.25rem;
  margin: 0;
}

button {
  background-color: #ffffff;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.input,
.output {
  font-size: 1rem;
  padding: 1rem;
  word-break: break-word;
}

.input {
  background-color: #303438;
  border-style: none;
  box-sizing: border-box;
  color: #c0c0c0;
  line-height: 1.5;
  outline-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 4.5rem;
  left: 0;
  min-width: 50vw;
  min-height: calc(100% - 4.5rem);
  max-height: calc(100% - 4.5rem);
  resize: none;
  scrollbar-color: rgb(255, 128, 128) transparent;
}

.output {
  color: #ffffff;
  line-height: 1.5;
}
.output > * {
  margin: 1rem 0;
}
.output > *:first-child,
.output > *:last-child {
  margin: 0;
}
.output ul {
  padding-inline-start: 1rem;
}
.output em {
  background-color: rgb(255, 0, 0, 0.25);
  /* color: rgb(255, 128, 128); */
  color: transparent;
  padding: 0.125rem;
}
.output em[data-checked="true"] {
  box-shadow: 0 0 0 1px #ffff00, 0 0 0 1px #ffff00 inset;
}
.output a {
  color: #909090;
}
